
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hero, #h2, #h3, #h4 {
	opacity: 0;
}

.hero {
	width: 20vw;
	position: relative;
	@media (max-width: 706px) {
		width: 50vw;
	}
}


@import url(./_scss/bootstrap.css);


body {
	/* Add this if it's missing */
	transition: background-color 0.3s ease;
	background-color: #00285C;
  }

  .color-section {
	height: 100vh;
  }

  .mouse {
	width: 10px;
	height: 55px;
	border: 1px solid #2a3c5c;
	opacity: 100%;
	border-radius: 60px;
	position: relative;
	padding: 1em;
	&::before {
		content: '';
		width: 6px;
		height: 6px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #2a3c5c;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

.img-evento {
	position: absolute;
	height: 45%;
	top: 20px;
	left: 10px;
	@media (max-width: 706px) {
		height: 25%;
	}
}

.img-evento2 {
	position: absolute;
	height: 45%;
	top: 0;
	right: 80px;
	z-index: -10;
	@media (max-width: 706px) {
		height: 25%;
		top: 0px;
	right: 10px;
	}
}

.img-evento3 {
	position: absolute;
	height: 45%;
	top: 260px;
	left: -90px;
	z-index: -10;

	@media (max-width: 706px) {
		height: 25%;
		top: 130px;
		right: 10px;
	}
}

.img-evento4 {
	position: absolute;
	height: 45%;
	top: 250px;
	right: 10px;
	z-index: -10;

	@media (max-width: 706px) {
		height: 25%;
		top: 90px;
		right: -10px;
	}
}

.img-evento5 {
	position: absolute;
	height: 45%;
	top: 120px;
	right: 40px;
	z-index: -10;

	@media (max-width: 706px) {
		height: 25%;
	}
}